<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Edit Sighting</title>
</head>

<body>
    <div class="container grey">
        <div class="my-3 bg-success py-4 px-2 text-white d-flex align-items-center justify-content-between">
            <h1>Sasquatch Websighting</h1>
            <h2 class="">{{user.first_name}} {{user.last_name}}</h2>
        </div>

        <div class="d-flex align-items-center justify-content-between px-2 py-4">
            <h2>Edit This Sighting:</h2>
            <div>
                <a class="btn btn-success" href="/sightings/home">Dashboard</a>
                <a class="btn btn-success" href="/logout">Log Out</a>
            </div>
        </div>

        <div>
            {% with messages = get_flashed_messages() %}

            {% if messages %}

            {% for message in messages %}

            <p class="error">{{message}}</p>
            {% endfor %}
            {% endif %}

            {% endwith %}
        </div>

        <form action="/sightings/{{sighting.id}}" method="post" 
            class="flex-container with-border majority-width">
            <div class="half-width">
                <div class="form-group">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="location" class="form-control" id="location" value="{{sighting.location}}">
                </div>

                <div class="form-group">
                    <label for="what_happened" class="form-label">What Happened:</label>
                    <textarea type="text" name="what_happened" class="form-control" id="what_happened" rows="10">{{sighting.what_happened}}</textarea>
                </div>
            </div>

            <div class="half-width">
                <div class="form-group">
                    <label for="date" class="form-label">Date of Sighting:</label>
                    <input type="date" class="form-control" name="date" id="date" value="{{sighting.date}}">
                </div>
                <div class="form-group">
                    <label for="sasquatches" class="form-label"># of Sasquatches</label>
                    <input type="number" name="sasquatches" value="{{sighting.sasquatches}}" id="sasquatches">
                </div>
                <input type="hidden" name="id" value="{{sighting.id}}">
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Report">
                </div>
            </div>
        </form>



    </div>

</body>

</html>